﻿@using WebsiteBanHang.Models
<div class="header-top">
    <div class="container">
        <div class="container_1">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/images/logogo.jpg" alt="Logo" class="logo-img" />
            </a>
        </div>
        @* Tạo form submit về action tìm kiếm *@
        @using (Html.BeginForm("LayTuKhoaTimKiem", "TimKiem"))
        {
            <div class="search">
                <form class="formsearch">
                    <input class="TimKiem" type="text" name="sTuKhoa" value="Từ Khóa " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Từ Khóa';}">
                    <input id="btn_search" type="submit" value="Tìm kiếm">
                </form>
            </div>
        }
        <div class="header-left">
            <ul>
                @if (Session["TaiKhoan"] != null && Session["TaiKhoan"].ToString() != "")
                {
                    ThanhVien tv = (ThanhVien)Session["TaiKhoan"];     //ép kiểu từ biến session thành biến tv để lấy ra thông tin
                    if (tv.MaLoaiTV == 1)
                    {
                        <li style="color:white; ">Chào @tv.HoTen</li>
                        <li><a href="@Url.Action("Index", "Admin")">Trang quản lý</a></li>
                    }
                    if (tv.MaLoaiTV == 3)
                    { 
                        <li style="color:white;margin-right:10px;">Chào @tv.HoTen</li>
                    }
                    <li id="btn_dx">
                        <a href="@Url.Action("DangXuat", "Home")">Đăng xuất</a>
                    </li>
                    @*@Html.ActionLink("Đăng xuất", "DangXuat", "Home", new { @class = "lock" })*@
                }
                else
                {
                    <li><a class="thea" id="btnDangNhap" href="#">Đăng nhập</a></li>
                    <li><a class="thea" href="@Url.Action("DangKy", "Home")">Đăng ký</a></li>
                }
            </ul>
            <!--chèn partial view giỏ hàng vào layout (tách icon giỏ hàng sang 1 partial view mới)-->
            @Html.Action("GioHangPartial", "GioHang")
        </div>
        </div>
    </div>
</div>


<!--login form-->

<link href="~/Content/css/Style_form_dangNhap.css" rel='stylesheet' type='text/css' />

<div>
    <br />
   
    <div id="popup_login">
        <div id="wrapper">
            <form action="" id="form-login">
                <span id="close-form" class="btn btn-danger">X</span>
                <h1 class="form-heading">Đăng nhập</h1>
                    @using (Ajax.BeginForm("DangNhap", "Home", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }, htmlAttributes: new { id = "loginForm" }))
                    {
                    <div class="form-group">
                        <i class="far fa-user"></i>
                        <input type="text" class="form-input" name="txtTenDangNhap" placeholder="Tên đăng nhập">
                    </div>
                    <div class="form-group">
                        <i class="fas fa-key"></i>
                        <input type="password" name="txtMatKhau" class="form-input" placeholder="Mật khẩu">
                        <div id="eye">
                            <i class="far fa-eye"></i>
                        </div>
                    </div>
                    <h3 id="ThongBao" style="font-weight:bold; color:crimson; text-align:center"></h3>
                    <input type="submit" value="Đăng nhập" class="form-submit">
                     }
                </form>
        </div>
        
    </div>
</div>

<style>
   .container_1{
       display:flex;
       justify-content:space-around;
       align-items:center;
   }
    .container_1 form{
        margin:0;
        display:flex;
        justify-content:center;
        height:60%;
        width:60%;
    }
    .container_1 form .search {
        font-size:16px;
        border-radius: 10px;
        margin: 0;
        width: 50%;
    }
    .container_1 form ul {
        display: flex;
        justify-content: flex-start; /* Đảm bảo các <li> nằm trên một dòng */
        flex-wrap: nowrap; /* Không cho phép các <li> xuống dòng */
        padding: 0;
        margin: 0;
        width: 100%; /* Đảm bảo <ul> chiếm toàn bộ chiều rộng */
    }

    .container_1 form ul li {
        flex: 1 0 30%; /* flex-grow: 1 (cho phép các <li> mở rộng), flex-shrink: 0 (không co lại), flex-basis: 30% (chiều rộng ban đầu) */
        height: 100%;
        margin: 5px; /* Khoảng cách giữa các <li> */
        box-sizing: border-box; /* Đảm bảo margin không ảnh hưởng đến kích thước */
    }

     .container_1 form .search #btn_search {
            border-radius:0 10px 10px 0;
            height: 100%;
     }

    #close-form {
        color: white;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
    }
    .thea {
        margin: 0 10px 0 10px;
        text-decoration: none;
        color: white;
        height: 100%;
        text-align: center;
        font-size :18px;
        height:100%;
    }
    .header-left {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 40%;
        font-size: 12px;
        position: relative
    }
    .header-left ul{
        width:100%;
        height:100%;
        justify-content:end;
    }
    .header-left ul li {
        height :100%;
        text-align:center;
    }
  /*  #btn_dx{
        position:relative;
    }
        #btn_dx span{
            position :absolute;
            top: 100%;
            left :0;
            font:10px;
        }*/
        #popup_login {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            z-index: 1000;
            display: none;
            text-align: center;
        }

    .btn-summit:hover {
        background: rgba(54, 185, 204);
        color: #fff;
        transition: 0.6s all;
        -webkit-transition: 0.6s all;
        -moz-transition: 0.6s all;
        -o-transition: 0.6s all;
    }

    .btn-summit {
        background: rgba(63, 101, 212);
        color: #fff;
        padding: 15px 60px;
        font-size: 1.1em;
        font-weight: 600;
        margin-right: 27px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 10px 0; /* Giữ header gọn */
        background: #000; /* Nếu cần màu nền */
    }

    .centered-logo {
        width:20%;
    }

    .logo-img {
        max-height: 80px; /* Điều chỉnh chiều cao tối đa */
        max-width: 200px; /* Điều chỉnh chiều rộng tối đa */
        object-fit: contain; /* Đảm bảo logo giữ tỷ lệ */
    }
    #wrapper {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form-login {
        max-width: 400px;
        background: rgba(0, 0, 0, 0.8);
        flex-grow: 1;
        padding: 30px 30px 40px;
        position:relative;  
        box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
    }

    .form-heading {
        font-size: 25px;
        color: #f5f5f5;
        text-align: center;
        margin-bottom: 30px;
    }

    .form-group {
        border-bottom: 1px solid #fff;
        margin-top: 15px;
        margin-bottom: 20px;
        display: flex;
    }

        .form-group i {
            color: #fff;
            font-size: 14px;
            padding-top: 5px;
            padding-right: 10px;
        }

    .form-input {
        background: transparent;
        border: 0;
        outline: 0;
        color: #f5f5f5;
        flex-grow: 1;
    }

        .form-input::placeholder {
            color: #f5f5f5;
        }

    #eye i {
        padding-right: 0;
        cursor: pointer;
    }

    .form-submit {
        background: transparent;
        border: 1px solid #f5f5f5;
        color: #fff;
        width: 100%;
        text-transform: uppercase;
        padding: 6px 10px;
        transition: 0.25s ease-in-out;
        margin-top: 30px;
    }

    .form-submit:hover {
        border: 1px solid #54a0ff;
    }

</style>

<script type="text/javascript">
    $("#btnDangNhap").click(function () {
        $("#popup_login").show();
    });
    $("#close-form").click(function () {
        $("#popup_login").hide();
    });

    $(document).ready(function () {
        $('#eye').click(function () {
            $(this).toggleClass('open');
            $(this).children('i').toggleClass('fa-eye-slash fa-eye');
            if ($(this).hasClass('open')) {
                $(this).prev().attr('type', 'text');
            } else {
                $(this).prev().attr('type', 'password');
            }
        });
    });
    $(document).ready(function () {
        $('#form-login').submit(function (e) {
            e.preventDefault(); // Ngừng hành động submit form mặc định

            $.ajax({
                type: 'POST',
                url: '/Home/DangNhap', // Địa chỉ Action controller
                data: $(this).serialize(), // Dữ liệu form
                success: function (response) {
                    // Kiểm tra phản hồi từ server và thực hiện hành động reload
                    if (response === "Đăng nhập thành công!") {
                        window.location.reload(); // Reload trang khi đăng nhập thành công
                    } else {
                        $('#ThongBao').text(response); // Hiển thị thông báo lỗi (nếu có)
                    }
                },
                error: function () {
                    $('#ThongBao').text('Có lỗi xảy ra, vui lòng thử lại!'); // Thông báo lỗi khi có sự cố với Ajax
                }
            });
        });
    });



</script>